.post {
    padding: 0 10px 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: ghostwhite;
}

.avatarAndName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.message {
    margin: 0 10px 10px 25px;
}

.likes {
    font-size: 13px;
    font-weight: bold;
}

.likeimg {
    width: 10px;
}