.container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.button{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 40px;
    right: -150px;
}
.container > label{
    background-color: whitesmoke;
    border: 1px solid #006d77;
}
.container > label:hover{
    background-color: whitesmoke;
    border: 1px solid #006d77;
}