.usersContainer {
    display: flex;
    flex-direction: column;
}
.avatar {
    width: 50px;
    border-radius: 80%;
}
.users {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.user {
    margin: 10px;
    background-color: #fdf7aa;
}
.pageLists {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.pagesButton {
    cursor: pointer;
}
.selectedPage {
    font-weight: bold;
    background-color: #8c8d4f;
}