.nav{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  grid-area: n;
  background-color: #4f306b;
  min-width: 150px;
}
.item{
  display: flex;
  grid-gap: 15px;
  padding: 10px;
  background-color: #8ea7f6;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #103a2f;
}
.item:hover{
  background-color: #fab53f;
  border: 1px solid #fdfdfd;
  color: #291f63;
}

.link{
  text-decoration: none;
}
.link:visited{
  color: #fdfdfd;
}
.icons {
  width: 25px;
}