.mainContainer {

    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: ghostwhite;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0, .2);

}

.avatarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px
}

.infoContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 10px;
    margin-bottom: 10px;
}

.Name {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #006d77;
    align-self: center;
}


.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-weight: normal;
    margin-top: 7px;
    word-break: break-word;
}
.data > span{
    font-weight: bold;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacts > span{
    margin-right: 10px;
}
.editButton{
    margin-top: 10px;
    width: 100%;
}



