.app-wrapper {
  display: grid;
  width: 1500px;
  height: 800px;
  grid-template-areas:
    "h h "
    "n c";
  grid-template-rows: 200px 1fr;
  grid-template-columns: 2fr 10fr;
  padding: 0 20px 0 20px;
  grid-gap: 0;
}
.app-wrapper-content {
  grid-area: "c";
  background-color: rgb(220, 220, 226);
}
