.app-wrapper {
  display: grid;
  width: 1500px;
  height: 800px;
  grid-template-areas:
    " h h "
    " n c "
    " f f ";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0.5rem;
}
.app-wrapper-content {
  grid-area: "c";
  background-color: rgb(233, 221, 148);
}
